body {
  background-image: url('https://image.freepik.com/free-vector/gradient-design-shapes-dark-background_23-2148409686.jpg');
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tagline {
  font-size: large;
  color: white;
  margin-top: 20vh;
  margin-left: 10%;
  max-width: 300px;
}